@media screen and (max-width:450px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    .left {
        top: -4%;
    }

    .left img {
        width: 89%;
        height: auto;
        left: -24px;
        position: absolute;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {

        display: inline-block;
    }

    .navbar li a {
        font-family: 'Russo One', sans-serif;
        color: white;
        text-decoration: none;
        height: auto;
        padding: 0px 23px;
        font-size: 9px;
        width: 33%;
        left: 65px;

        position: relative;
        top: -21px;
        margin: -9px;
    }

    .mid {
        position: absolute;
        top: 9%;

        height: auto;
    }

    .mid img {
        opacity: 0.8;

        height: auto;
        width: 95%;
    }

    .text1 {
        position: absolute;
        top: 18%;
        left: 5%;
        color: white;
        font-family: 'Salsa', cursive;
        font-size: 2rem;
        height: auto;
    }

    .text2 {
     
        color: rgb(44 114 235);
        font-family: 'Salsa', cursive;
       
    }

    .text3 {
        position: absolute;
        top: 23%;
        left: 7%;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
        padding: -1px 22px;
        height: auto;
    }

    .text4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.7rem;
        
    }

    .map img {
        width: 88%;
        height: auto;
        left: -3%;
        position: absolute;
    }


    .map {
        position: absolute;
        top: 37%;
        right: -3%;
        left: 35px;
        height: auto;
    }

    .rightmap {
        position: absolute;
        padding: 0px 5px;
        font-family: 'Russo One', sans-serif;
        color: white;
        font-size: 28px;
        top: 78%;
        height: auto;
        left: 15%;
        width: 71%;
    }

    .location {
        position: absolute;
        padding: 2px 2px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 500;
        top: 87%;
        height: auto;
        left: 17%;
        width: 65%;
    }

    .second {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(34 33 33);
        height: auto;
        top: 98%;
        left: 8%;
        font-size: 49px;
    }

    .we {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 103%;
        left: 26%;
        height: auto;
        font-size: 25px;
    }

    .bluewe {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(44 114 235);
        top: 103%;
        left: 46%;
        height: auto;
        font-size: 25px;
    }

    .trophy img {
        position: absolute;
        top: 109%;
        left: 5%;
        width: 87%;
        height: auto;
    }

    .content {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        color: rgb(250, 251, 255);
        top: 150%;
        left: 4%;
        height: auto;
        font-size: 19px;
        text-align: center;
    }

    .text2pg {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(42 42 42);
        top: 166%;
        height: auto;
        left: 10%;
        font-size: 74px;
    }

    .btext2pg {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 173%;
        left: 29%;
        font-size: 39px;
        height: auto;
    }

    .third img {
        position: absolute;
        top: 181%;
        left: 4%;
        width: 92%;
        height: auto;
    }

    .info2 {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 208%;
        height: auto;
        left: 3%;
        font-size: 18px;
    }

    .rep {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(42 42 42);
        top: 226%;
        height: auto;
        left: 3%;
        font-size: 52px;
    }

    .smallrep {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 231%;
        left: 21%;
        height: auto;
        font-size: 30px;
    }

    .testimonial img {
        position: absolute;
        top: 225%;
        width: 93%;
        opacity: 0.3;
        height: 225px;
    }

    .slogan {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        color: rgb(193 193 193);
        top: 237%;
        height: auto;
        left: 12%;
        font-size: 15px;
        font-weight: 600;
    }

    .dance {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        color: rgb(44 114 235);
        top: 237%;
        height: auto;
        left: 54%;
        font-size: 15px;
        font-weight: 600;
    }

    .person2 img {
        position: absolute;
        top: 243%;
        left: 22%;
        height: auto;
        width: 16%;
    }

    .person1 img {
        position: absolute;
        top: 243%;
        left: 64%;
        height: auto;
        width: 16%;
    }

    .person2name {
        font-family: 'Kanit', sans-serif;
        position: absolute;
        color: #b5b5b5;
        top: 252%;
        left: 13%;
        height: auto;
        font-size: 14px;
    }

    .person1name {
        font-family: 'Kanit', sans-serif;
        position: absolute;
        color: #b5b5b5;
        top: 252%;
        height: auto;
        left: 59%;
        font-size: 14px;
    }

    .memtext {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(42 42 42);
        top: 260%;
        left: 5%;
        height: auto;
        font-size: 48px;
    }

    .smmem {
        font-family: 'Secular One', sans-serif;
        position: absolute;
        color: rgb(255, 255, 255);
        top: 265%;
        left: 23%;
        font-size: 28px;
        height: auto;
    }

    .last img {
        background-color: white;
        font-family: 'Secular One', sans-serif;
        position: absolute;
        top: 271%;
        left: 9%;
        height: 28%;
        width: 25%;
    }

    .rs img {
        background-color: white;
        font-family: 'Secular One', sans-serif;
        position: absolute;
        top: 271%;
        left: 36%;
        height: auto;
        height: 28%;
        width: 25%;
    }

    .off img {
        background-color: white;
        font-family: 'Secular One', sans-serif;
        position: absolute;
        top: 271%;
        left: 63%;
        height: auto;
        height: 28%;
        width: 25%;
    }

    .faq {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        color: white;
        font-size: 55px;
        top: 303%;
        height: auto;
        left: 30%;
    }

    .dropdown {
        position: absolute;
        top: 314%;
        border: 2px solid white;
        background-color: white;
        left: 31%;
        padding: 5px 28px;
        width: 32%;
        height: auto;
    }

    .looks {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 314%;
        left: 17%;
        height: auto;
        padding: 7px 17px;
        background-color: rgb(44 114 235);

    }

    .li2 {
        position: absolute;
        font-family: 'Russo One', sans-serif;
        top: 320%;
        background-color: white;
        left: 31%;
        padding: 1px 6px;
        width: 45%;
        height: auto;
        z-index: -1;
        font-size: 13px;
    }

    .look {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 320%;
        left: 17%;
        height: auto;
        padding: 8px 16px;
        background-color: rgb(44 114 235);
    }

    .li3 {
        position: absolute;
        font-family: 'Russo One', sans-serif;
        top: 326%;
        background-color: white;
        left: 31%;
        padding: 8px 10px;
        height: auto;
        width: 43%;
        z-index: -1;
    }

    .loo {
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 326%;
        left: 17%;
        height: auto;
        padding: 8px 16px;
        background-color: rgb(44 114 235);
    }

    .lastright2 {
        position: absolute;
        top: 319%;
        height: auto;
        right: 9%;
        font-family: 'Russo One', sans-serif;
        color: white;
        text-decoration: none;
    }

    .nobullet {
        left: -100px;
        top: 101px;
        height: auto;
        font-size: 8px;
        letter-spacing: 2px;
        position: absolute;
    }

    .nobullet li {
        margin-bottom: 16px;
        list-style: none;
    }

    .imglast img {
        position: absolute;
        top: 341%;
        width: 13%;
        height: auto;
        left: 12%;
    }

    .insta img {


        width: 31%;
        height: 49px;
        left: 23px;
    }

    .blueborder {
        background-color: rgb(44 114 235);

        width: 90%;
        left: 0px;
        padding: 27px 18px;
    }

    .whiteborder {
        background-color: #ffffff;


        width: 90%;
        left: 0px;
        right: 0px;

        padding: 38px 18px;
    }

    #scroll1 {
        top: 92%;

        position: absolute;
        font-size: 33px;
    }

    #scroll2 {
        position: absolute;

        font-size: 33px;
        top: 160%;
    }

    #scroll3 {
        position: absolute;

        top: 207%;
        font-size: 33px;
    }

    #scroll4 {
        position: absolute;

        top: 245%;
        font-size: 33px;
    }

    .border {
        height: 168em;
    }
}

/* ipad air*/
@media screen and (min-width: 600px) and (max-width: 860px) {
    .left {
        z-index: 3;
        top: -1%;
        left: 2%;
    }

    .left img {
        width: 144%;
    }

    .right {
        position: fixed;
        z-index: 2;
        right: -1%;
        top: -1%;
        width: 77em;
    }

    .navbar {
        display: inline-block;
        border: 2px solid black;
        padding: 50px 174px;
        background-color: black;
        left: 10px;
        position: fixed;
    }


    .navbar li a {

        font-size: 24px;
    }

    .mid img {
        width: 153%;
    }

    .text1 {
        font-size: 5rem;
        left: 13%;
        top: 33%;
    }

    .text2 {
        color: rgb(44 114 235);
        font-family: 'Salsa', cursive;
        
    }

    .text3 {
        position: absolute;
        top: 41%;
        left: 16%;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 29px;
    }

    .text4 {
        position: absolute;
        top: 41%;
        left: 63%;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 34px;
    }

    .map {

        top: 67%;
        right: -46%;
    }

    .location {

        top: 88%;
        left: 9%;
        width: 61%;
    }

    .rightmap {

        font-size: 51px;
        top: 75%;
        left: 9%;
        width: 73%;

    }

    .second {
        top: 129%;
        left: 19%;
        font-size: 146px;
        width: 120%;
    }

    .we {
        top: 138%;
        left: 46%;
        font-size: 68px;
        width: 7em;
    }

    .bluewe {
        top: 138%;
        left: 71%;
        font-size: 68px;
    }

    .trophy img {
        top: 151%;
        left: 19%;
        width: 61em;
    }

    .content {
        top: 225%;
        left: 23%;
        font-size: 51px;
        width: 18em;
    }

    .text2pg {
        top: 258%;
        left: 34%;
        font-size: 160px;
    }

    .btext2pg {
        top: 268%;
        left: 56%;
        font-size: 64px;
    }

    .third img {

        top: 280%;
        left: 9%;
        width: 69rem;
    }

    .info2 {

        top: 334%;
        left: 24%;
        font-size: 46px;
        width: 23em;
    }

    .rep {
        top: 364%;
        left: 17%;
        font-size: 152px;
    }

    .smallrep {

        top: 374%;
        left: 52%;
        font-size: 56px;
    }

    .testimonial img {

        top: 363%;
        width: 152%;

    }

    .slogan {

        top: 380%;
        left: 38%;
        width: 21em;
    }

    .dance {
        top: 380%;
        left: 75%;
    }

    .person2 img {

        top: 393%;
        left: 27%;
        width: 22%;
    }

    .person1 img {
        position: absolute;
        top: 393%;
        left: 105%;
        width: 22%;
    }


    .person2name {
        top: 410%;
        left: 18%;
        font-size: 34px;
    }

    .person1name {
        top: 410%;
        left: 99%;
        font-size: 34px;
        width: 8em;
    }

    .memtext {
        top: 434%;
        left: 16%;
        font-size: 149px;
    }

    .smmem {
        top: 444%;
        left: 51%;
        font-size: 61px;
    }

    .last img {
        top: 456%;
        left: 21%;
        height: 57%;
        width: 36%;
    }

    .rs img {
        top: 456%;
        left: 59%;
        height: 57%;
        width: 36%;
    }

    .off img {
        top: 456%;
        left: 97%;
        height: 57%;
        width: 36%;
    }

    .faq {
        font-size: 110px;
        top: 526%;
        left: 63%;
    }

    .dropdown {
        top: 542%;
        left: 52%;
        padding: 10px 20px;
        width: 72%;
    }

    .dropbtn {
        font-size: 26px;
    }

    .looks {
        top: 542%;
        left: 42%;
        font-size: 22px;
        padding: 15px 32px;

    }

    .li2 {

        top: 552%;
        font-size: 23px;
        left: 52%;
        padding: 14px 21px;
        width: 72%;

    }

    .look {
        top: 552%;
        left: 42%;
        font-size: 22px;
        padding: 15px 30px;

    }

    .li3 {
        top: 562%;
        left: 52%;
        padding: 12px 34px;
        font-size: 24px;
        width: 69%;
    }

    .loo {
        top: 562%;
        left: 42%;
        font-size: 22px;
        padding: 14px 29px;
    }

    .imglast img {
        top: 429em;
        width: 29%;
        left: 21%;
    }

    .lastright2 {
        top: 429em;
        right: -37%;
    }

    .nobullet {
        font-size: 22px;
        letter-spacing: 2px;
    }

    .insta img {
        position: absolute;
        top: 476em;
        width: 25%;
        height: 72px;
        left: 87px;
    }

    .blueborder {
        top: 476em;
        width: 148%;
        padding: 40px 20px;
    }

    .whiteborder {
        top: 481em;
        width: 148%;
        padding: 50px 20px;
    }

    #scroll1 {

        top: 120%;
    }

    #scroll2 {
        top: 248%;
    }

    #scroll3 {
        top: 353%;

    }

    #scroll4 {
        top: 423%;
    }
}